$left-background-color: #dddddd;
$right-background-color: #eeeeee;

#User {
  height: 100vh;
  display: flex;
  overflow: hidden;

  .user-inner {
    display: flex;
    padding-top: 4rem;
    width: 100%;

    .left,
    .right {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: auto;

      .header {
        position: sticky;
        top: 0;
        min-height: 2.5rem;
      }
    }

    .left {
      min-width: 15rem;
      max-width: 20rem;
      background-color: $left-background-color;

      .header {
        background-color: $left-background-color;
      }
    }

    .right {
      background-color: $right-background-color;
      flex-grow: 1;

      .header {
        background-color: $right-background-color;
      }
    }
  }
}
