.modal-layout {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

#AddFeedModal,
#SetFeedModal {
  display: flex;
  flex-direction: column;
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 25rem;
  max-width: 50rem;
  // position: fixed;
  // width: 50%;
  // height: 50%;
  // top: 25%;
  // left: 25%;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
}
