#SetFeedModal {
  display: flex;
  flex-direction: column;
  z-index: 3;
  position: fixed;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    h1 {
      margin: 0;
      flex-grow: 1;
      font-size: 1.5rem;
    }
  }

  .content {
    overflow: scroll;
    .category-list {
      &,
      li,
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }
      input[type='text'],
      button {
        all: unset;
      }
      input[type='text'] {
        border: 0;
        border-radius: 3px;
        background-color: #fff;
        box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
        padding-left: 0.25rem;
      }
      button {
        cursor: pointer;
        margin: 0 0.25rem;
        opacity: 0.2;
        transition: 0.3s;

        &:hover {
          opacity: 0.9;
        }
      }

      .category-wrap-li {
        padding: 0.25rem;
        margin-bottom: 1rem;

        .category-inner,
        .feed-inner {
          padding: 0.25rem 0.5rem;
          border-radius: 5px;
          display: inline-block;
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.2);
        }

        .feed-list {
          margin-left: 1rem;
          .feed {
            margin: 0.5rem 0;
            display: flex;
            .feed-inner {
              .feed-inner-inner {
                display: flex;

                .category-edit-wrap {
                  select.feed-category-edit {
                    width: 8rem;
                    &:focus {
                      outline: none;
                    }
                    direction: rtl;
                    color: #555;
                    border: 0;
                    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
                    background-color: #fff;
                  }
                  .feed-category-new {
                    input {
                      width: 8rem;
                    }
                  }
                }

                input.title-edit-input {
                  margin: 0 0.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
