#Login {
  padding-top: 4rem;

  .login-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    .sign-up-form {
      display: flex;
      flex-direction: column;

      #signUpSubmit {
        align-self: center;
      }
    }
  }
}
