html,
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  height: 100%;
}

#root {
  * {
    overscroll-behavior: none;
  }
  
  & > :nth-child(2) {
    a {
      color: #222222;
      text-decoration: none;
      &:hover {
        color: #000000;
      }
    }
  }
}
